body {
    margin: 0px;
    background-color: #F5F5F5;
}

.menu {
    background-color: #202020;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    z-index: 999;
    white-space: nowrap;
    flex: auto;
    color: #586E5E;
}

.cadastro {
    position: center;
    margin-left: 30%;
    margin-right: 30%;


}

.control-group {
    padding: 12px 20px;
    align-content: center;
    border: solid 1px;
    border-radius: 20px 20px 20px 20px;
    background-color: #A6BAB7
}
.RelatorioClasse {
    color: red;
}
.input-xlarge {
    background-color: #F5F5F5;
    padding: 8px;
    font-size: 12px;
    width: 380px;
}

.btn {
    background-color: #294454; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    .btn:hover {
        background-color: #4F83A1; /* Green */
        color: white;
    }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #202020;
    color: white;
    text-align: center;
    height: 30px;
}

@media (min-width: 768px) .px-md-4 {
    padding-right: 24px !important;
}
@media (min-width: 768px) .pl-md-4, .px-md-4 {
    padding-left: 24px;
}